<div class="container">
  <h1>Questions</h1>
  <h5><i>Click on a Question to see Answers</i></h5>
  <br>
  <ul>
    {{#each model as |message|}}
      <h5>{{message-tile message=message}}</h5>
    {{/each}}
  </ul>

  {{new-message saveMessage="saveMessage"}}
</div>
